<div class="section" id="services">
    <div class="container cc-services">
      <div class="h4 text-center mb-4 title">Services</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <i class="icon-data"></i>
              <div class="h5">SOFTWARE DEVELOPMENT</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">              
               <h4 class="category">SOFTWARE DEVELOPMENT
               </h4>
               <div>
                Researching, designing, implementing, and managing software programs. Testing and evaluating new programs. Identifying areas for modification in existing programs and subsequently developing these modifications. Writing and implementing efficient code.
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <p>2013 - 2015</p>
              <div class="h5">APPLICATION DEVELOPMENT</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
           
               <h4 class="category">APPLICATION DEVELOPMENT
               </h4>
               <div>
                Application development designed to carry out a specific task other than one relating to the operation of the computer itself, typically to be used by end-users. ... Apps built for mobile platforms.
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <p>2012 - 2013</p>
              <div class="h5">FRONT END DEVELOPMENT</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">       
               <h4 class="category">FRONT END DEVELOPMENT
               </h4>
               <div>
                Front-end web development, also known as client-side development, it is the part of producing UI using HTML, CSS and JavaScript for a website or Web Application so that a user can see and interact with it directly.
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <p>2012 - 2013</p>
              <div class="h5">BACK END DEVELOPER</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">       
               <h4 class="category">BACK END DEVELOPER
               </h4>
               <div>
                Our back-end team is responsible for server-side web application logic and integration of the work front-end development team do. Back-end development team are usually write the web services and APIs used by front-end development and mobile application development team.
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <i _ngcontent-ypa-c2="" class="fa fa-twitter"></i>
              <div class="h5">APPLICATION DESIGN</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">       
               <h4 class="category">APPLICATION DESIGN
               </h4>
               <div>
                Application development typically work on a team that design a new application from scratch, modify an existing one or find solutions to issues with either new or existing software.
               </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-services-header">
              <p>2012 - 2013</p>
              <div class="h5">INNOVATIVE IDEAS</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">       
               <h4 class="category">INNOVATIVE IDEAS
               </h4>
               <div>
                Innovation, at its most basic, is finding a different and better way to solve problems. Something innovative does not necessarily need to solve a previously unsolvable problem; an innovative idea often solves an existing problem in a cheaper or better manner.
               </div>
            </div>
          </div>
        </div>
      </div>



















    </div>
  </div>